@media (max-width: 768px) {
  .nav-bar {
    .nav-desktop {
      display: none;
    }

    .nav-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        display: flex;
        flex-direction: column;
        color: #fff;
        cursor: pointer;
        h4,
        h2 {
          margin: 0;
        }
        h2 {
          margin-left: 1rem;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          font-style: oblique;
        }
      }
      .nav-burger-menü {
        font-size: 2.5rem;
        cursor: pointer;
      }
    }

    .nav-toggle-items {
      display: flex;
      flex-direction: column;
      ul {
        display: flex;
        flex-direction: column;
        a {
          text-decoration: none;
          color: #fff;
          padding: 10px;
          font-size: 1.2rem;
          border-bottom: 1px solid gray;
          margin: 0;
          &:hover {
            color: orange;
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
}
