.nav-bar {
  padding: 3vh 4%;
  .nav-desktop {
    .logo {
      display: flex;
      flex-direction: column;
      color: #fff;
      cursor: pointer;
      h4,
      h2 {
        margin: 0;
      }
      h2 {
        margin-left: 1rem;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-style: oblique;
      }
    }
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      margin: 0;
      padding: 0;
      border-bottom: #fff 1px solid;
      a {
        text-decoration: none;
        color: #fff;
        padding: 10px;
        /* font-size: 2rem; */
        margin: 0;
        &:hover {
          color: orange;
        }
      }
    }
  }

  .nav-mobile {
    display: none;
  }
  .nav-desktop,
  .nav-pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-toggle-items {
    display: none;
  }
}
